@import url('https://fonts.googleapis.com/css?family=Lato:100,400,900');

.my-body{
    background-image: url('https://images.pexels.com/photos/131684/pexels-photo-131684.jpeg?auto=compress&cs=tinysrgb&h=350');
}

.my-container{
    border: 1px solid #110000;
	background-color: white;
	max-width: 600px;
	margin: 110px auto 10px auto;
	padding: 2rem;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}

.my-name{
        display: block;
        width: 200px;
        height: 200px;
        margin: auto; 
        border-radius: 50%;
        border: 1px solid #aaa;
        margin-top: -100px;
        font-family: fantasy;
}

.my-face{
    display: block;
   
	width: 200px;
	height: 200px;
    margin: auto; 
    border-radius: 80%;
	border: 5px solid #927104 ;
}

.my-hr{

}

@media (max-width=768px){
    h1{
        font-size: 20px;
    }
}